* {
    margin: 0%;
}

body {
    font-family:montserrat;
    margin: 0;
    padding: 0; 

        background: url(fundo1.jpg) no-repeat fixed center top;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
}
.logo {

    height: 64px;
    margin: -37px 0px 0px 0px;
}

.header {
background-image:url(logo.png);
background-repeat: no-repeat;
background-size:100px;
background-position-y: center;

background:linear-gradient(to left, #ffe600ee,#f7003e, #f7003e,#e203ff,#2904fcee);
height: 18px;
padding-top: 30px;}
.header .nav .current a, .header span {
    background:linear-gradient( #ff8f8f , #ff1852, );
    color:black;}

.nav ul
{
    margin: -15px 14px -8px 0px;
}

.title-header{
    float: left;
    color: white;
}

.nav{
float: right;
font-size: 20px;
}

.nav a{
text-decoration:none;
color: #000000;
text-transform: uppercase;
margin: 0 auto 0 auto;
font-family: Montserrat;
}

.nav li{
    display: inline-block;
    padding: 0px 10px 0 20px;
    margin: 0;
    justify-content: center;
} 

/* 1 part dos body /*/ 

.box1{
font-family:montserrat;
}
.retangular{
margin:-132px 0px 0px -48px;
height:100px ;
}
.maça{
margin:-129px 0px 0px 0px  ;

height:100px ;
}
.pera{
margin: -129px 0px 0px -50px; 

height:100px;
}
.trianguloI{
margin:-129px 0px 0px 0px  ;
height:100px ;
}

.texto1{
background:linear-gradient( to left, #ffe600ee, #f7003e); 
height:25px;
width: 1200px;
font-size: 20px;
border-radius: 20px;

}
.box2 select{
    background:linear-gradient( to left, #ffe600ee, #f7003e); 
    color: black;
    padding: 10px;
    width: 260px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    border-radius: 20px;
}


.box4 select{
    background:linear-gradient( to left, #ffe600ee, #f7003e); 
    color: black;
    padding: 10px;
    width: 260px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    margin: -10px 0px 0px 0px ;
    border-radius: 20px;
}


.caixa1 {
    position:absolut;
    background:linear-gradient( #ffe600ee, #f7003e, #f7003e,#e203ff,#2904fcee); 
    width: 500px;
    height: 400px;
    font-family: montserrat;
    margin: -500px 0px 0px 0px;
    border-radius:20px;
}

.caixa1 input{
    width: 260px;
    height: 40px;
    border:none;
    font-family: montserrat;
    border-radius: 20px;
}

.caixa1 button {
    background:linear-gradient( to left, #ffe600ee, #f7003e); 
    color: black;
    padding: 10px;
    width: 100px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    border-radius: 50px;
}  

.caixa1 button:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.cadastrar{
    background:linear-gradient( to left, #ffe600ee, #f7003e); 
    color: black;
    padding: 10px;
    width: 120px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    border-radius: 50px;
    margin: -24px 0px 0px 5px ;
}
.cd button:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.divdialogo1 img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.dialogo2{
margin: -275px 0px 0px 990px;
    }

.dialogo1{
margin: -60px 0px 0px 130px;
    
}    

.caixa2{
    background:linear-gradient( #ffe600ee, #f7003e, #f7003e,#e203ff,#2904fcee); 
    width:  600px;
    height: 500px;
    font-family: montserrat;
    margin: 13px 0px 0px 0px ;
    border-radius: 20px;
}
.caixa2 input{
    width: 260px;
    height: 40px;
    border:none;
    font-family: montserrat;
    border-radius: 10px;
}

.caixa2 button:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.enviar  {
    background:linear-gradient( to left, #ffe600ee, #f7003e); 
    color: black;
    padding: 10px;
    width: 210px;
    height: 20px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    margin: 0px 0px 22px -280px ;
    border-radius: 20px;
    position: absolute;
}
.limpar  {
    background:linear-gradient( to left, #ffe600ee, #f7003e); 
    color: black;
    padding: 10px;
    width: 100px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    margin: 3px 0px 55px 183px;
    border-radius: 20px;
    position: absolute;
}


.cadastro{
    margin: 0px 0px 0px 0px;
}
.nome{
    margin: 0px 0px 0px -300px;
}
.email{
    margin: -20px 0px 0px -300px;
}
.data{
    margin:-160px 0px 0px 289px;
    z-index: 1;
    position: absolute;
}
.senha{
    margin:-49px 0px 0px -299px; 
}

.confirmação{
    margin:-10px 0px 0px -299px; 
}
.imagem{
    margin:-288px 0px -18px 275px;
    z-index: 0;
}
.texto2{
background:linear-gradient( to left, #ffe600ee, #f7003e,#f7003e); 
height:25px;
width: 1000px;
font-size: 20px;
border-radius:20px;
}

.baby{
margin: 0px -20px -28px 0px;
}

.dois{
margin:-212px 0px 0px 181px;
;
}
.um {
    margin:-180px 0px 0px 62px;; 
}
.tres{
margin: 0px 0px 0px 188px;   
}
.quatro{
    margin:-523px 0px 141px 500px; 

}

.famosas{
margin:-457px -13px -125px 0px;
}

.gisele{
margin:0px 0px 0px -171px  ;
height:600px;
}

.jennifer{
margin:0px 0px 0px 0px  ;
height:600px;
}

.nicole{
margin:0px 0px 0px 0px  ;
height:600px;
}
.cinco{
margin:  -470px 0px 40px 255px;;
}
.seis{
margin:-42px 0px -64px 248px;
}
.sete{
margin:-600px 0px 141px 600px;
;
}

.famosas2{
margin:-70px 0px 0px 32px;  
}

.kin{
margin: 0px 0px 0px 0px ;
height: 600px;  
}

.kylie{
margin: 0px 0px 0px 0px ;
height: 550px;    
}

.cloe{
margin:0px 0px 0px 0px ;
height: 600px;   
}
.CX2{
margin: -150px 0px -115px 0px;  
}

.oito{
margin:-382px 0px 9px 263px;
}
.nove{
margin:-40px 0px 0px 263px;
}
.dez{
margin:-548px 0px 203px 639px;
}

.famosas3{
margin:-221px 0px 0px 78px;

}
.amanda{
margin: 0px 0px 0px 0px;
height: 600px;
}
.kate{
margin: 0px 0px 0px 0px;
height: 600px;
}
.angelina{
margin: 0px 0px 0px 0px;
height: 600px;
}
.CX3{
margin: -92px 0px 0px 0px;    
}

.famosas4{
margin: -220px 0px 0px 0px ;
}

.onze{
margin: -377px 0px 23px 241px;
}
.doze{
margin: -35px 0px 0px 241px; 
}  

.treze{
margin:-467px 0px 123px 680px;
}
.lopez{
    margin:0px 0px 0px 0px;
    height:600px ;
}  
.iza{
    margin:0px 0px 0px 0px;
    height:550px ;
}
.niky{
    margin:0px 0px 0px 0px;
    height:600px ;   
}
.CX4{
    margin:-180px 0px 0px 0px;  
}
.quatorze{
    margin: -378px 0px 50px 217px;  
}
.quinze{
    margin:-70px 0px 0px 217px;
}
.dezseseis{
margin:-600px 0px 150px 600px;
}
.famosas5{
    margin:-272px 0px 0px 100px;
}
.cacau{
    margin:0px 0px 0px 0px;
    height:600px ;
}

.fabiana{
    margin:0px 0px 0px 0px;
    height:550px ;

}
.latifa{
    margin:0px 0px 0px 0px;
    height:600px ;
}
.CX5{
    margin:-180px 0px 0px 0px;
}

.oval1{
    margin: 0px 0px 0px -294px;
}

.oval2{
    margin:-161px 0px 0px 674px;
}

.ovalcontorno{
    margin: -500px 0px 300px 100px;
}
.CToval{
    margin: -100px 0px 150px -700px;
}

.famosasoval{
margin: -100px 0px 400px 200px;
}
.jenner{
    margin: -470px 0px 170px 1100px ;
    height: 250px;
}
.dakota{
    margin: -470px 0px 190px 900px;
    height: 250px;
}

.redondo1{
margin: 0px 0px 0px 0px;  
}
.redondo2{
    margin: -111px 0px 100px 680px;  
}
.contornoredondo{
    margin: -400px 0px 560px 100px;  
}
.CTredondo{
    margin: -190px 0px 158px -400px; 
}
.famosasredondo{
    margin: -467px 0px 415px 800px; 
}.selena{
    margin: -450px 0px 350px 700px;
}
.redondo{
    margin: 0px 0px 70px 0px;
}

.quadrado{
    margin: 0px 0px 87px 0px ;
}
.quadrado1{
    margin: 0px 0px 0px -200px ;
}
.quadrado2{
    margin: -41px 0px 0px 680px ;
}
.contornoquadrado{
    margin:-350px 0px 875px 159px;
}
.CTquadrado{
margin: -202px 0px 508px -426px;
}
.famosasquadrado{
    margin: -139px 0px 663px 71px;
}

.anne{
    margin:0px 0px 0px 0px   ;
}
.joli{
    margin: 0px 0px 0px 0px ;
}
.annejoli{
    margin:-753px 0px 244px 824px;
}

.coração{
    margin: 0px 0px 149px 0px ;
}
.coração1{
    margin: 0px 0px 0px -29px ;
}

.coração2{
    margin: -76px 0px 0px 650px ;
}

.contornocoração{
    margin:-288px 0px 0px 128px;
}
.CTcoração{
    margin: -200px 0px 30px 20px ;
}
.famosascoração{
    margin: -201px 0px 230px 171px;
}

.secoflavia{
    margin:-250px 0px 0px 750px;
}

.calculadora{
    background:linear-gradient( #ffe600ee, #f7003e, #f7003e,#e203ff,#2904fcee); 
    height: 500px;
    width: 650px;
    border-radius: 20px;
    margin: 34px 0px 0px 12px;
}

.calculadora input{
    width: 260px;
    height: 40px;
    border:none;
    font-family: montserrat;
    border-radius: 10px;
}
.calculadora button {
    background:linear-gradient( to left, #ffe600ee, #f7003e); 
    color: black;
    padding: 10px;
    width: 100px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    border-radius: 50px; 
}

.calculadora button:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.calculadora1{
    margin: -50px 0px 0px 0px;
}
.imput{
    margin: -36px 0px 20px 0px ;
}

.div2{
    position: relative;
    background:linear-gradient(#ffe600ee, #f7003e, #f7003e,#e203ff,#2904fcee); 
    height: 500px;
    width: 650px;
    float: right;
    margin:34px 0px 0px 40px;
    border-radius: 20px;
    border:black;

}

.separação{
    width: 100%; 
	display: flex; 
	flex-direction: row 
}
.saber{
margin: -20px 0px 0px 0px;
}
.seta1{
    margin: 0px 0px 48px 0px;
}
.saber1{
    margin: 0px 0px 0px 0px;
}
.div3 button{
    background:linear-gradient( #f7003e, #ffe600ee);
    color: black;
    padding: 10px;
    width: 150px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    border-radius: 50px;
    margin: -39px 0px 43px -109px;
}
.div3 button:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.seta2{
    margin: 0px 0px 32px 0px;
}
.div4{
    margin: -29px 0px 0px 0px;
}
.div4 button{
    background:linear-gradient( #f7003e, #ffe600ee);
    color: black;
    padding: 10px;
    width: 150px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    border-radius: 50px;
    margin: -29px 0px 11px -105px;
}
.div4 button:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.lais{
    margin: 0px 0px 0px 30px;
    border-radius: 20px;
}
.lais1{
    margin: 0px 0px 0px 0px;
}
.lais1 img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.valorizar{
    margin: -312px 0px 195px 259px;
}
.divsobre{
    float:right;
    margin: 0px 0px 0px 0px;
    font-size: 30px;
}
.abrefecha{
margin: 0px 0px 0px 0px;
}
.h1{
    float:left;
    z-index: 0;
    position: relative;
    margin: -24px 0px 0px 0px;
}
.abre{
    
margin: 0px 0px 0px -611px;
}
.fecha{
    
    margin: 0px 0px 58px 0px;
}
.sobretexto{
    position: relative;
    margin: -90px 0px 0px 0px;
}
.sobretexto1{
    position: relative;
    margin: 0px 0px 0px 0px;
}
.sobretexto2{
    position: relative;
    float: right;
    margin: 6px 84px 0px 0px;
}
.sobretexto3{
    float: right ;
    position: relative;
    margin: -141px 109px 0px 0px;
}
.textosobre4{
margin:-287px 0px 25px 254px;
}

.estrelas{
    float: right;
    margin: -106px 76px 0px 0px ;
}



.bemvinda{
font-size:50px;
margin: -12px 0px 139px 92px;
position: relative; 
}
.texto{
margin:-133px 0px 316px 10px;

}
.juntas{
    margin:-237px 0px 232px 128px;
}
.porque{
    margin: -327px 0px 230px 64px;
}
.pilares{
    margin:-208px 0px 312px 58px;
}
.pilares1{
    margin: -255px 0px 253px 88px;
}

.for{
    margin: 0px 0px 0px 0px  ;
}
.every{
    margin: 0px 0px -5px 30px
}
.one{
    margin: 0px 0px 2px 0px  ;
}
.aqui{
    margin: -264px 0px 115px 172px
}
.cubos{
    margin: -192px 0px 0px -20px;
    position: absolute;
}

.div5 button {
    background:linear-gradient( #f7003e, #ffe600ee);
    color: black;
    padding: 10px;
    width: 150px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    border-radius: 50px;
    margin:10px 0px 0px 5px ;
}

.div6 button {
    background:linear-gradient( #f7003e, #ffe600ee);
    color: black;
    padding: 10px;
    width: 150px;
    height: 50px;
    border:none;
    font-size: 20px;
    font-family: montserrat;
    -webkit-appearance: button;
    border-radius: 50px;
    margin:10px 0px 0px 5px ;
}

.div5 button:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.div6 button:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.sb2{
    margin: -10px 0px 0px 300px;
}

.sb1{
    margin: 0px 0px 0px 300px;
}
.pesquise{
    margin: 0px 0px 0px 200px ;

}
.clinicas{
    background-color: rgba(255, 255, 255, 0.582);
    margin: -50px 0px 0px 0px ;
}
.clinicas1{
float: right;
margin: -1289px 15px 0px 0px;
}
.clinicas1 img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.ct{
    margin: -30px 0px 0px 80px;
}
.textosclinicas{
    margin: 0px 0px 0px 0px;

}
.textoclinica{
    margin: 0px 0px 0px 35px ;
}
.textoclinica1{
    margin: 0px 0px 0px 30px ;
}
.textoclinica2{
    margin: 0px 0px 0px 20px ;
}
.clinica1{
    margin: 0px 0px 0px 0px ; 
    border-radius: 30px;
}
.clinica2{
    margin: 0px 0px 0px 0px ; 
    border-radius: 30px;
}
.clinica3{
    margin: 0px 0px 0px 0px ; 
    border-radius: 30px;
}
.clinica4{
    margin: 0px 0px 0px 0px ; 
    border-radius: 30px;
}
.clinica5{
    margin: 0px 0px 0px 110px ;
    border-radius: 30px; 
}
.mulher{
    
    background-color: rgba(255, 255, 255, 0.582);
    margin: -50px 0px 0px 0px ;
}
.galeria img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.galeria{
    float: right;
    margin: -1257px 3px 0px 0px;
}
.blog1{
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
}
.blog2{
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
}
.blog3{
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
}
.blog4{
    margin: 0px 0px 0px 0px;
    border-radius: 20px;
}
.blog5{
    margin: 0px 0px 0px 104px;
    border-radius: 20px;
}

.divblog{
    margin: 0px 8px 0px -2px;
}
.bt{
    margin: 0px 0px 0px 120px;  
}
.referencia{
    margin: 0px 0px 0px 250px;
}
.textoblog1{
    margin: 0px 0px 0px 0px;
}
.textoblog2{
    margin: 0px 0px 0px 0px;
}
.textoblog3{
        margin: 0px 0px 0px 0px;
    }